/* Universal */
* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;

    /* Toggle for visual aide */
    border: 1px solid red;
}

html, body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
 